{{ attach_library('small_messages/small_messages.main') }}


<div class="well well-ost">


    {% set link_messages = path('small_messages.main') %}
    {% set link_subscribers = path('small_messages.main') %}


    {# TAB #}
    <div class="smmg-tab-container">
        <a type="button"
           class="btn btn-lg smmg-tab active"
           id="smmg-tab-messages"
           href="{{ link_messages }}/list">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            Nachrichten
        </a>

        <a type="button"
           class="btn btn-lg smmg-tab "
           id="smmg-tab-subscribers"
           href="{{ link_subscribers }}/list/members">

            <i class="fa fa-users" aria-hidden="true"></i>
            Empfängerliste
        </a>

    </div>


    {# Toolbox #}


    <div class="smmg-toolbox">

        {# Action #}
        <div class="smmg-toolbox-action">

            {# Neu Nachricht  #}
            <a type="button" class="btn btn-success use-ajax" data-dialog-type="modal"
               href="/node/add/newsletter?destination={{ link_messages }}/list">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"> </span>
                neue Nachricht erstellen
            </a>


            {# Neu Nachricht  #}
            <a type="button"
               class="btn btn-default use-ajax disabled"
               data-dialog-type="modal"
               href="/node/add/newsletter?destination={{ link_messages }}/list"
               data-toggle="tooltip"
               data-placement="left"
               title="Funktion noch nicht verfügbar">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"> </span>
                neue Nachricht aus Vorlage

            </a>

        </div>

        {# Feedback #}
        <div class="ajax-container"></div>


        {# Filter #}
        <div class="smmg-toolbox-filter">


        </div>
        <div class="smmg-views">
        </div>
    </div>


</div>
