{{ attach_library('small_messages/small_messages.main') }}


    {% set link_messages = path('small_messages.messages') %}
    {% set link_subscribers = path('small_messages.subscribers') %}



{% if message.send_date %}
    <div class="smmg-message-status-warning">Diese Nachricht wurde am {{ message.send_date }} schon einmal verschickt.</div>
{% endif %}


<h2>Nachricht:</h2>
<div class="well">
    <h3>{{ message.title }}</h3>
    <div class="smmg-body">

        {% set body = {
        '#type':   'processed_text',
        '#text':    message.body.value,
        '#format':  message.body.format,
        } %}

        {{ body }}
    </div>

    <div><a type="button" class="btn btn-sm btn-default smmg-body-toggle-trigger">komplette Nachricht anzeigen</a></div>
</div>


<h2>Empf채nger:</h2>
<div class="well">

    <div>

        {% for group_tag in subscriber %}

            <div class="btn-tag active smmg-subscriber-group-tag smmg-subscriber-list-trigger"
                 data-subscriber-group-id="{{ group_tag.id }}">
                {{ group_tag.title }} <span class="badge">{{ group_tag.number }}</span></div>

        {% endfor %}


        <div class="btn btn-sm   smmg-subscriber-list-trigger smmg-subscriber-list-description"
             data-subscriber-group-id="0">Alle Empf채nger auflisten
        </div>

    </div>


    <div class="ajax-container"></div>
    <div class="smmg-subscriber-list">
        {% for group in subscriber %}
            <div class="smmg-subscriber-list-block-{{ group.id }}" style="display:none">
                <h4 class="smmg-subscriber-list-title">{{ group.title }}</h4>
                <ul class="smmg-subscriber-list-column">
                    {% for item in group.list %}

                        <li class="smmg-subscriber-member-{{ item.id }}">
                            <div class="smmg-subscriber-list-edit">

                                {{ item.name }}

                                <span class="smmg-subscriber-list-remove"
                                      data-subscriber-id="{{ item.id }}"
                                      data-subscriber-group-id="{{ group.id }}"
                                      data-toggle="tooltip"
                                      data-delay="1000"
                                      data-placement="right"
                                      title="aus der Empf채ngerliste entfernen">
                                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                                    </span>
                            </div>
                        </li>

                    {% endfor %}

                </ul>
            </div>
        {% endfor %}

        <div class="smmg-subscriber-list-footer">
            <p>Pro Person wird die Nachricht nur einmal verschickt, auch wenn sie doppelt aufgef체hrt ist. Z. B. in
                verschiedenen Gruppen</p>
        </div>
    </div>
</div>


<div class="smmg-subscriber-foot">
    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
    <button type="button" class="btn btn-primary"><i class="fa fa-paper-plane" aria-hidden="true"></i>
        Nachricht Senden
    </button>
</div>